<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>orders</title>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
        </nav>
        <div class="container">
            <% if ( orders) { %>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Customer ID</th>
                            <th>price</th>
                            <th>Status</th>
                            <th>Task</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(function (x) { %>
                            <tr>
                                <td>
                                    <%= x._id %>
                                </td>
                                <td>
                                    <%= x.customerId %>
                                </td>
                                <td>
                                    <%= sum[i++] %>
                                </td>
                                <td>
                                    <% if (x._id == check) { %>
                                        <%= status %>
                                            <% } else { %>
                                                <%= status %>
                                                    <% } %>
                                </td>
                                <td><a href="/admin/ordersDetails/<%= x._id %>"><i class="fas fa-eye"></i></a>&nbsp;&nbsp;
                                </td>
                            </tr>

                            <% }) %>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        Tổng đơn hàng :
                                        <%= count %>

                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        Tổng giá trị :
                                        <%= totalprice %>

                                    </td>
                                </tr>

                    </tbody>
                </table>
                <% } %>
</body>

</html>